name: Genesys Announcement Bot

on:
  schedule:
    - cron: '0 * * * *' # 每小時執行一次
  workflow_dispatch: # 允許手動觸發測試

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run Script
        env:
          MATTERMOST_WEBHOOK: ${{ secrets.MATTERMOST_WEBHOOK }}
        run: python main.py

      - name: Commit changes # 將最後抓取的標題存回 GitHub，避免重複發送
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add last_announcement.txt
          git commit -m "Update last announcement cache" || exit 0
          git push